<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mendoza Login Web</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

  <main id="main-holder">

    <h1 id="login-header">Mendoza Login Page</h1>
    
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Enter your username">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Enter your password">
      <a href=""><button>Log In</button></a> 
      <a href="/register"><button>Register Account</button></a> 
  
  </main>
</body>

</html>